{% extends 'base.html.twig' %}

{% block title %}Modifier Pokédex{% endblock %}

{% block body %}
    <h1 class="text-white text-center p-3">Modifier un Pokédex</h1>

    {{ include('pokedex/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="text-center p-3">
    <button class="m-auto p-2 bg-dark">
    <a class="text-white" href="{{ path('pokedex_index') }}">Retour à la liste</a>
    </button>
    </div>
    

    {{ include('pokedex/_delete_form.html.twig') }}
{% endblock %}
