<form method="post" action="{{ path('pokemon_delete', {'id': pokemon.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokemon.id) }}">
    <div class="text-center  p-3">
    <button class="m-auto text-white p-2 bg-dark">Supprimer</button>
    </div>
</form>
